:root {
    --background: #e4e4e4;
    --primary: #eaa33a;
    --text: #000000;
    --nav: #ffffff;
    --footer: #1f1f1f;
    color-scheme: dark;
}

body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper-3d-paper-style_23-2148413572.jpg?t=st=1735987342~exp=1735990942~hmac=f5ecb9edb3dc84ce0307b50f12bf27e4b42f1056c0dfc1cfb23f6ae1fa62a2ef&w=996');
}

main h1 {
    margin-top: 200px;
    text-align: center;
    color:black;
    /* opacity: 0; */
    position:relative;
}

main p {
    text-align: center;
    /* opacity: 0; */
}

#photo-container {
    width:95%;
    margin: 50px auto 100px;

    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    z-index: 0;
}

.card {
    aspect-ratio: 5 / 3;
    position: relative;
    overflow: hidden;

    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}
.card:hover {
    cursor:pointer;
}

.card img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 100%;
    transition: transform 0.2s;
}

.card p {
    box-sizing: border-box;
    background-color: #be975c96;
    position: absolute;
    bottom:-110px;
    left:0px;
    padding:20px;
    width: 100%;
    font-size: clamp(14px, 2vw, 20px);
    overflow: hidden;
    transition: bottom 0.2s;
}

#load-more {
    padding:10px;
    background-color: var(--footer);
    border:none;
    border-radius: 8px;
    color:white;
    font-weight: 900;
    position: relative;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
}
#load-more:hover {
    cursor:pointer;
    color: var(--primary) ;
}





@media (max-width:1150px) {

    main {
        width:100%;
    }

    .card {
       width: 40%;
    }
}


@media screen and (max-width:1000px) {

    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin-bottom: 50px;
    }
}
