@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Quicksand:wght@300..700&display=swap');

:root {
    --background: #cfcfcf;
    --primary: #eaa33a;
    --text: #000000;
    --nav: #ffffff;
}

body {
    background-color: var(--background);
    margin: 0px;
    overflow-x: hidden;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    /* height: 200vh; */
}




#top{
    position: fixed;
    bottom:60px;
    right:50px;
    border-radius: 50%;
    background-color: var(--primary);
    border:2px solid black;
    padding:12px;
    width:60px;
    height:60px;
}
#top:hover {
    cursor:pointer;
    box-shadow: 0px 0px 15px var(--primary);
    filter:saturate(2)
}

#top img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}





#main-nav {
    position:fixed;
    width: 100%;
    top: 0px;
    height: 80px;
    display: flex;
    background-color: var(--nav);
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
    z-index: 2;
}

#main-nav ul {
    position: relative;
    width: clamp(500px, 90%, 1500px);
    height: 100%;
    
    list-style-type: none;
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.582); */
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    margin: auto;
}

#logo-img {
    height:60px;
    transition: height 0.3s ease;
}

#main-nav li, #mobile-nav li {
    height:100%;
    /* background-color: pink; */
    padding: 0px clamp(0px, 1vw, 40px);
    align-content: center;
}

#main-nav li:first-child {
    position:absolute;
    left:0px;
}

#main-nav li:hover, #mobile-nav a:hover{
    background-color: rgba(34, 34, 34, 0.082);
}

#main-nav a, #mobile-nav a {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
    /* font-weight: 700; */
    font-size: clamp(16px, 1.5vw, 20px);
    /* background-color: orange; */
    height: 95%;
    align-content: center;
}
#main-nav a:hover:not(#logo) {
    border-bottom: 3px solid var(--primary);
}

#main-nav button, #mobile-nav button {
    color: var(--text);
    font-size: clamp(17px, 1.5vw, 20px);
    border: none;
    background-color: transparent;
    font-size: 16px;
    /* font-weight: 700; */
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    height: 100%;
}
#main-nav button:hover {
    border-bottom: 3px solid var(--primary);
    cursor:pointer;
}

#main-nav #sandwitch {
    display: none;
}








.visible {
    display: flex !important;
}

#mobile-nav {
    list-style-type: none;
    position:fixed;
    bottom:0px;
    height:calc(100vh - 60px);
    width: 95%;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-around;

    display: none;
    margin:80px 0px 0px 0px ;
    background-color: var(--nav);
}







#main-header {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
}

#main-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}





iframe {
    margin:100px 0px;
    width:100%;
    height:300px;
}





footer {
    background-color: var(--text);
    width:100%;
    color: var(--background);
}

#fcontainer {
    padding-top:50px;
    width:80%;
    max-width: 1000px;
    /* height:240px; */
    margin:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px;
}

#footer-logo{
    width:170px;
}

.footer-card h2 {
    margin-bottom: 15px;
}

.footer-card hr {
    border:1px solid var(--primary);
    width:100px;
    margin: 0px;
}

.footer-card.lg {
    width:250px;
}

.footer-card.info a {
    line-height: 2.5;
}

.footer-card.info ul {
    /* background-color: blue; */
    list-style-type: none;
    padding:0px;
}

.footer-card.info li:nth-of-type(1) {
    background: url('/public/assets/icons/icons8-telephone-50.png') no-repeat left center;
    background-size: 25px 25px;
}

.footer-card.info li:nth-of-type(2) {
    background: url('/public/assets/icons/icons8-smartphone-50.png') no-repeat left center;
    background-size: 25px 25px;
}

.footer-card.info li:nth-of-type(3) {
    background: url('/public/assets/icons/icons8-email-50.png') no-repeat left center;
    background-size: 25px 25px;
}


.footer-card.info li:nth-of-type(4) {
    background: url('/public/assets/icons/icons8-position-50.png') no-repeat left center;
    background-size: 25px 25px;
}

.footer-card.info li {
    padding-left:30px;
}


.footer-card.we-are-open p {
    /* background-color: red; */
    margin-top: 40px;
}

.footer-card.we-are-open a{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 10px;
    font-weight: 900;
    margin-top:20px;
    display: inline-block;
}
.footer-card.we-are-open a:hover {
    box-shadow: 0px 0px 10px var(--primary);
}

#copyright {
    /* background-color: red; */
    color: #9e9e9e;
    margin:49px auto 0px;
    width:90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid var(--primary);
}

#copyright a {
    color: #9e9e9e;
    text-decoration: none;
}
#copyright a:hover {
    text-decoration: underline;
    color:#ffffff
}





















@media only screen and (max-width:700px) {

    #main-nav #sandwitch {
        display: block !important;
    }
    
    #main-nav li:not(#li-logo) {
        display: none;
    }

    #mobile-nav li a {
        width:100%;
    }

}